@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#__next{height:100%;}
body{background:#071029;color:#e6eef8;font-family:Inter,ui-sans-serif,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial}
.card-shadow{box-shadow:0 8px 24px rgba(2,6,23,0.6);}